@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
        </hgroup>
        <p>
            <a href="~/MyAPP/Test.aspx" title="Rate Plan Comparison Tool">Rate Plan Comparison Tool</a>.
        </p>
    </div>
</section>
}
